{% extends 'main.twig' %}
		
{% block content %}

<section class="about-us">
      
      	<div class="left">
        <img src="img/resorts_africa_logo.jpg" alt="Resorts Africa" class="profile-photo">
        
        <h3>About Us</h3>
        <p><b>About Resorts Africa</b></p>
        <p><b>Botswana, Eqypt, Keny, Madagascar, South Africa,Tunisia, Zambia & Zimbabwe</b></p>
          
        <p>Since 1997 we have been providing the very best in tailor-made holidays to Africa and Madagascar. Resorts Africa expertise has been recognised with four best tour operator awards in the Guardian / Observer Travel Awards over the last ten years. In 2012 we were voted Best Tour Operator by the readers of Food and Travel Magazine and in 2013 we were runners up. Our São Tomé & Príncipe holiday was chosen by Wanderlust Magazine as one of their top 50 trips for 2014. We aim at all times to deliver the high quality expert service that has  always been our hallmark.</p>
        
         
          <p>Every holiday that includes flights is financially protected through our ATOL bonding, giving our customers complete confidence and security. Our ATOL number is 11413. Get in touch with us if you would like to talk with Resorts Africa Chairman, Mr. Abeloa Fao to discuss any aspect of our service. We are based at Layden House, 49 George Silundika Avenue, Harare</p>
          
          <p>Respecting and supporting the cultures and habitats we visit has always been core to our values and you can read more about how these principles translate into practice, and ultimately give our customers a better holiday experience, in our responsible travel section.</p>
          </div>
		    
          <div class="right">
          <p><b>More about our service</b></p>  
		  
		  <p><b>Family Holidays</b></p>
          <p>Consult us about an affordable family holidays in Africa for all ages - or a 'bush and beach' combination. Your teenagers will be glad you made them go!</p> 
          
          <p><b>Self-drive and private transfers</b></p>
          <p>Self-drive holidays are most popular for South Africa, Zimbabwe and Kenya. If you don't want to drive on holiday, you may travel by air charter, train, car or people carrier with driver/guide. There are some opportunities to self-drive in Egypty and Madagasca but people usually travel by private transfer, train, coach or scheduled domestic flight.</p> 

          
          
          <p><b>Honeymoons</b></p>
          <p>We will help you plan the honeymoon of your dreams for a realistic price. Safari and beach honeymoon combinations  (typically South Africa, Botswana, Kenya or Zimbabwe + Zambia and Madagasca) are a popular choice. Madagascar is ideal for couples seeking adventure, but who still want time on a breathtaking beach. South Africa have all the ingredients for a very special honeymoon.</p>
          
                    
          <p><b>Quality Travel</b></p>
         <p> Our business is based on sound knowledge of the countries in which we operate honesty and a genuine commitment to finding the right trip for each person.</p>
         </div>
         
         <div class="address">

            <div class="south">
              <p><b> Head Office</b><br>Office No. 11235<br> New Alexandra Park<br> New Alexandra Park <b>Sandton, South Africa</b><br> Cell: +27 7122451643-10</p>
            </div>
        	  <div class="harare">
              <p><b> Zimbabwe Office</b><br>First Floor, Afgate House<br> 49 George Silundika Avenue<br> <b>Harare, Zimbabwe</b><br> Cell: +263 782 345 345/ 772 224 224</p>
            </div>
            <div class="south-africa">
                                 
            <div class="kenya">
              <p><b> Tanzania Office</b><br>Suite 342 Tanganyika House<br> Da-Salam Complex Mall<br>  <b>Da-Salam, Tanzani</b><br> Tel: +60 3452217-9<br> Cell: +60 4577241-8</p>
            </div>

          </div>
                   
         </section>


{% endblock content %}