
    	{% extends 'main.twig' %}
		
		{% block content %}

    	<section>
        <ul id="gallery">
          <li>
            <a href="Tourism_Sites_in_Zimbabwe"><img border="0">
              <img src="img/victoria_falls3.jpg" alt="">
              <p>Tourism Sites in Zimbabwe.</p>
            </a>
          </li>
          <li>
            <a href="Tourism_Sites_in_Tunisia"><img border="0">
              <img src="img/toubkal-atlas-mountains.jpg" alt="">
              <p>Tourism Sites in Tunisia.</p>
            </a>
            
          </li>
          <li>
            <a href="Tourism_Sites_in_Madgasca"><img border="0">
              <img src="img/Saint Marie 2.jpg" alt="">
              <p>Tourism Sites in Madagasca</p>
            </a>
          </li>
          <li>
            <a href="Tourism_Sites_in_Egypt"><img border="0">
              <img src="img/pyramids.jpg" alt="">
              <p>Tourism Sites in Egypt.</p>
            </a>
          </li>
          <li>
            <a href="Tourism_Sites_in_Tanzania"><img border="0">
              <img src="img/Mt_-Kilimanjaro.jpg" alt="">
              <p>Tourism Sites in Tanzania.</p>
            </a>
          </li>
          <li>
            <a href="Tourism_Sites_in_South_Africa"><img border="0">
              <img src="img/Sun_City.jpg" alt="">
              <p>Tourism Sites in South Africa.</p>
            </a>
          </li>
        </ul>
      </section>
		{% endblock content %}
      
      
