{% extends 'main.twig' %}
		
{% block content %}
<div >

<form id="searchbox" method="GET" action="search.php">
   
    <INPUT TYPE = "Text" VALUE ="" PLACEHOLDER= "your search input here" NAME = "query">
    <input id="submit" type="submit" value="Search">
</form>
</div>



{% endblock content %}