    {% extends 'main.twig' %}
        
    {% block content %}

     <div class="container">
                        
            <div id="da-slider" class="da-slider">
                
                 <div class="da-slide">
                    <h2>The Victoria Falls</h2>
                    <p>Victoria Falls, or Mosi-oa-Tunya, is a waterfall in southern Africa on the Zambezi River at the border of Zambia and Zimbabwe. Wikipedia.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=Ccr2QyCLPVezyEY3Cb93UnIAPkKPFYMay0snwAfqdkI0OEAEgt4SrAygCYM0FoAGhz8L-A8gBAcgDG6oEIk_Q5yCvbE0lsI-kiNBmbpMy53nIiuwVpGc58sMGXI5c9A-IBgGAB4rwzQ-QBwGoB6a-G9gHAQ&num=1&ohost=www.google.com&cid=5GgvyEm8gKtHmjMlt4zu44R7ij1Xn7PjRfOgog8X3nh-e6Ik&sig=AOD64_1NqRJN7m2M1c5AwF9aNLBpdbywZA&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293759%26m%3D11607%26supci%3D274160705%26supsc%3Ds%26supai%3D64641218054%26supap%3D1s1%26supdv%3Dc%26supnt%3Ds%26supti%3Dkwd-3785625338%26suplp%3D2716%26supli%3D&clui=0&nb=1&res_url=http%3A%2F%2Fwww.kwathabeng.co.za%2Ftravel%2Faccommodation-list.php%3Fcountry%3DZimbabwe%26type%3DResorts&rurl=https%3A%2F%2Fwww.google.co.zw%2F&nm=5&nx=55&ny=8&is=728x191&clkt=127" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/vic-falls.jpg" alt="" /></div>
                </div>
                
                <div class="da-slide">
                    <h2>Great Zimbabwe</h2>
                    <p>Great Zimbabwe is a ruined city in the southeastern hills of Zimbabwe near Lake Mutirikwe and the town of Masvingo. It was the capital of the Kingdom of Zimbabwe during the country's Late Iron Age.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=Ccr2QyCLPVezyEY3Cb93UnIAPkKPFYMay0snwAfqdkI0OEAEgt4SrAygCYM0FoAGhz8L-A8gBAcgDG6oEIk_Q5yCvbE0lsI-kiNBmbpMy53nIiuwVpGc58sMGXI5c9A-IBgGAB4rwzQ-QBwGoB6a-G9gHAQ&num=1&ohost=www.google.com&cid=5GgvyEm8gKtHmjMlt4zu44R7ij1Xn7PjRfOgog8X3nh-e6Ik&sig=AOD64_1NqRJN7m2M1c5AwF9aNLBpdbywZA&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293759%26m%3D11607%26supci%3D274160705%26supsc%3Ds%26supai%3D64641218054%26supap%3D1s1%26supdv%3Dc%26supnt%3Ds%26supti%3Dkwd-3785625338%26suplp%3D2716%26supli%3D&clui=0&nb=1&res_url=http%3A%2F%2Fwww.kwathabeng.co.za%2Ftravel%2Faccommodation-list.php%3Fcountry%3DZimbabwe%26type%3DResorts&rurl=https%3A%2F%2Fwww.google.co.zw%2F&nm=5&nx=55&ny=8&is=728x191&clkt=127" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Great-Zimbabwe-2.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Victoria Falls Cliff</h2>
                    <p>The Victoria Falls Cliff is one of the most fascinating places a person can visit. It is at the adge of the falls where you can see tons of waters cascade down the Victoria Falls along the Zambezi River.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=Ccr2QyCLPVezyEY3Cb93UnIAPkKPFYMay0snwAfqdkI0OEAEgt4SrAygCYM0FoAGhz8L-A8gBAcgDG6oEIk_Q5yCvbE0lsI-kiNBmbpMy53nIiuwVpGc58sMGXI5c9A-IBgGAB4rwzQ-QBwGoB6a-G9gHAQ&num=1&ohost=www.google.com&cid=5GgvyEm8gKtHmjMlt4zu44R7ij1Xn7PjRfOgog8X3nh-e6Ik&sig=AOD64_1NqRJN7m2M1c5AwF9aNLBpdbywZA&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293759%26m%3D11607%26supci%3D274160705%26supsc%3Ds%26supai%3D64641218054%26supap%3D1s1%26supdv%3Dc%26supnt%3Ds%26supti%3Dkwd-3785625338%26suplp%3D2716%26supli%3D&clui=0&nb=1&res_url=http%3A%2F%2Fwww.kwathabeng.co.za%2Ftravel%2Faccommodation-list.php%3Fcountry%3DZimbabwe%26type%3DResorts&rurl=https%3A%2F%2Fwww.google.co.zw%2F&nm=5&nx=55&ny=8&is=728x191&clkt=127" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/victoria falls cliff.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Kariba Dam</h2>
                    <p>The Kariba Dam is a hydroelectric dam in the Kariba Gorge of the Zambezi river basin between Zambia and Zimbabwe. The dam stands 128 metres tall and 579 metres long.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=Ccr2QyCLPVezyEY3Cb93UnIAPkKPFYMay0snwAfqdkI0OEAEgt4SrAygCYM0FoAGhz8L-A8gBAcgDG6oEIk_Q5yCvbE0lsI-kiNBmbpMy53nIiuwVpGc58sMGXI5c9A-IBgGAB4rwzQ-QBwGoB6a-G9gHAQ&num=1&ohost=www.google.com&cid=5GgvyEm8gKtHmjMlt4zu44R7ij1Xn7PjRfOgog8X3nh-e6Ik&sig=AOD64_1NqRJN7m2M1c5AwF9aNLBpdbywZA&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293759%26m%3D11607%26supci%3D274160705%26supsc%3Ds%26supai%3D64641218054%26supap%3D1s1%26supdv%3Dc%26supnt%3Ds%26supti%3Dkwd-3785625338%26suplp%3D2716%26supli%3D&clui=0&nb=1&res_url=http%3A%2F%2Fwww.kwathabeng.co.za%2Ftravel%2Faccommodation-list.php%3Fcountry%3DZimbabwe%26type%3DResorts&rurl=https%3A%2F%2Fwww.google.co.zw%2F&nm=5&nx=55&ny=8&is=728x191&clkt=127" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/kariba_dam.jpg" alt="" /></div>
                </div>
               
                <div class="da-slide">
                    <h2>Nyanga National Park</h2>
                    <p>Nyanga National Park lies in the north of Zimbabwe's Eastern Highlands. One of the first national parks to be declared in the country, it contains the highest land in Zimbabwe, with green hills and perennial rivers.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=Ccr2QyCLPVezyEY3Cb93UnIAPkKPFYMay0snwAfqdkI0OEAEgt4SrAygCYM0FoAGhz8L-A8gBAcgDG6oEIk_Q5yCvbE0lsI-kiNBmbpMy53nIiuwVpGc58sMGXI5c9A-IBgGAB4rwzQ-QBwGoB6a-G9gHAQ&num=1&ohost=www.google.com&cid=5GgvyEm8gKtHmjMlt4zu44R7ij1Xn7PjRfOgog8X3nh-e6Ik&sig=AOD64_1NqRJN7m2M1c5AwF9aNLBpdbywZA&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293759%26m%3D11607%26supci%3D274160705%26supsc%3Ds%26supai%3D64641218054%26supap%3D1s1%26supdv%3Dc%26supnt%3Ds%26supti%3Dkwd-3785625338%26suplp%3D2716%26supli%3D&clui=0&nb=1&res_url=http%3A%2F%2Fwww.kwathabeng.co.za%2Ftravel%2Faccommodation-list.php%3Fcountry%3DZimbabwe%26type%3DResorts&rurl=https%3A%2F%2Fwww.google.co.zw%2F&nm=5&nx=55&ny=8&is=728x191&clkt=127" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Nyanga_National_Park_002.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Hwange National Park</h2>
                    <p>Hwange National Park is the largest game reserve in Zimbabwe. The park lies in the west, on the main road between Bulawayo and the widely noted Victoria Falls and near to Dete. Meet you in the jungle of Hwange.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=Ccr2QyCLPVezyEY3Cb93UnIAPkKPFYMay0snwAfqdkI0OEAEgt4SrAygCYM0FoAGhz8L-A8gBAcgDG6oEIk_Q5yCvbE0lsI-kiNBmbpMy53nIiuwVpGc58sMGXI5c9A-IBgGAB4rwzQ-QBwGoB6a-G9gHAQ&num=1&ohost=www.google.com&cid=5GgvyEm8gKtHmjMlt4zu44R7ij1Xn7PjRfOgog8X3nh-e6Ik&sig=AOD64_1NqRJN7m2M1c5AwF9aNLBpdbywZA&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293759%26m%3D11607%26supci%3D274160705%26supsc%3Ds%26supai%3D64641218054%26supap%3D1s1%26supdv%3Dc%26supnt%3Ds%26supti%3Dkwd-3785625338%26suplp%3D2716%26supli%3D&clui=0&nb=1&res_url=http%3A%2F%2Fwww.kwathabeng.co.za%2Ftravel%2Faccommodation-list.php%3Fcountry%3DZimbabwe%26type%3DResorts&rurl=https%3A%2F%2Fwww.google.co.zw%2F&nm=5&nx=55&ny=8&is=728x191&clkt=127" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/hwange-national-park.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>VicFalls National Park</h2>
                    <p>Open to visitors throughout the year, the Victoria Falls National Park in north-western Zimbabwe protects the south and east bank of the Zambezi River in the area of the world-famous Victoria Falls.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=Ccr2QyCLPVezyEY3Cb93UnIAPkKPFYMay0snwAfqdkI0OEAEgt4SrAygCYM0FoAGhz8L-A8gBAcgDG6oEIk_Q5yCvbE0lsI-kiNBmbpMy53nIiuwVpGc58sMGXI5c9A-IBgGAB4rwzQ-QBwGoB6a-G9gHAQ&num=1&ohost=www.google.com&cid=5GgvyEm8gKtHmjMlt4zu44R7ij1Xn7PjRfOgog8X3nh-e6Ik&sig=AOD64_1NqRJN7m2M1c5AwF9aNLBpdbywZA&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293759%26m%3D11607%26supci%3D274160705%26supsc%3Ds%26supai%3D64641218054%26supap%3D1s1%26supdv%3Dc%26supnt%3Ds%26supti%3Dkwd-3785625338%26suplp%3D2716%26supli%3D&clui=0&nb=1&res_url=http%3A%2F%2Fwww.kwathabeng.co.za%2Ftravel%2Faccommodation-list.php%3Fcountry%3DZimbabwe%26type%3DResorts&rurl=https%3A%2F%2Fwww.google.co.zw%2F&nm=5&nx=55&ny=8&is=728x191&clkt=127" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Victoria-fallsBridge.jpg" alt="" /></div>
                </div>

                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.cslider.js"></script>
        <script type="text/javascript">
            $(function() {
            
                var $slider = $('#da-slider');
                
                // initialize the slider
                $slider.cslider();
                
                // example how to go to page 3 when clicking on a link
                $('#testSlide3').on( 'click', function( event ) {
                
                    $('#da-slider').cslider( 'page', 2 );
                    return false;
                
                } );
            
            });
        </script>   

    {% endblock content %}
      
      

      
      
