    {% extends 'main.twig' %}
        
    {% block content %}

     <div class="container">
                        
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>The Big Hole</h2>
                    <p>The Big Hole, Open Mine or Kimberley Mine is an open-pit and underground mine in Kimberley, South Africa, and claimed to be the largest hole excavated by hand, although this claim is disputed.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CUPNouv_RVZybCpbubraZhIgHxKTFYN7cxuEe1MX14AIIABACKANgzQWgAaHPwv4DyAEBqgQiT9BoGO63-_qv5Jp72Y18UGSuj7Rcmj1JtJDDLhptvtEFRIgGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GgbRmo17DOgcspPG4rTYIiRU18cX9HeN8u3V59celXXhE4G&sig=AOD64_1IT1z9tc6aKqPoNhVzxDxMDJYAeA&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCLrR16K5sMcCFcRdGgodirgA6Q&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293740%26m%3D11607%26supci%3D294628470%26supsc%3Ds%26supai%3D8162193014%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-740123348%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Open_pit_mine.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Blyde River Canyon</h2>
                    <p>The Blyde River Canyon is a significant natural feature of South Africa, located in Mpumalanga, and forming the northern part of the Drakensberg escarpment. It is 25 kilometres in length and is, on average, around 750 metres deep. </p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CUPNouv_RVZybCpbubraZhIgHxKTFYN7cxuEe1MX14AIIABACKANgzQWgAaHPwv4DyAEBqgQiT9BoGO63-_qv5Jp72Y18UGSuj7Rcmj1JtJDDLhptvtEFRIgGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GgbRmo17DOgcspPG4rTYIiRU18cX9HeN8u3V59celXXhE4G&sig=AOD64_1IT1z9tc6aKqPoNhVzxDxMDJYAeA&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCLrR16K5sMcCFcRdGgodirgA6Q&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293740%26m%3D11607%26supci%3D294628470%26supsc%3Ds%26supai%3D8162193014%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-740123348%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Blyde River Canyon.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Robben Island</h2>
                    <p>Robben Island is an island in Table Bay, 6.9 km west of the coast of Bloubergstrand, Cape Town, South Africa. The name is Dutch for "seal island.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CUPNouv_RVZybCpbubraZhIgHxKTFYN7cxuEe1MX14AIIABACKANgzQWgAaHPwv4DyAEBqgQiT9BoGO63-_qv5Jp72Y18UGSuj7Rcmj1JtJDDLhptvtEFRIgGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GgbRmo17DOgcspPG4rTYIiRU18cX9HeN8u3V59celXXhE4G&sig=AOD64_1IT1z9tc6aKqPoNhVzxDxMDJYAeA&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCLrR16K5sMcCFcRdGgodirgA6Q&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293740%26m%3D11607%26supci%3D294628470%26supsc%3Ds%26supai%3D8162193014%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-740123348%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Robben Island.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Table Mountain</h2>
                    <p>Table Mountain is a flat-topped mountain forming a prominent landmark overlooking the city of Cape Town in South Africa, and is featured in the Flag of Cape Town and other local government insignia..</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CUPNouv_RVZybCpbubraZhIgHxKTFYN7cxuEe1MX14AIIABACKANgzQWgAaHPwv4DyAEBqgQiT9BoGO63-_qv5Jp72Y18UGSuj7Rcmj1JtJDDLhptvtEFRIgGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GgbRmo17DOgcspPG4rTYIiRU18cX9HeN8u3V59celXXhE4G&sig=AOD64_1IT1z9tc6aKqPoNhVzxDxMDJYAeA&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCLrR16K5sMcCFcRdGgodirgA6Q&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293740%26m%3D11607%26supci%3D294628470%26supsc%3Ds%26supai%3D8162193014%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-740123348%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/table-mountain-park.png" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>The Garden Route</h2>
                    <p>The Garden Route is a stretch of the south-eastern coast of South Africa which extends from Mossel Bay in the Western Cape to the Storms River in the Eastern Cape.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CUPNouv_RVZybCpbubraZhIgHxKTFYN7cxuEe1MX14AIIABACKANgzQWgAaHPwv4DyAEBqgQiT9BoGO63-_qv5Jp72Y18UGSuj7Rcmj1JtJDDLhptvtEFRIgGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GgbRmo17DOgcspPG4rTYIiRU18cX9HeN8u3V59celXXhE4G&sig=AOD64_1IT1z9tc6aKqPoNhVzxDxMDJYAeA&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCLrR16K5sMcCFcRdGgodirgA6Q&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293740%26m%3D11607%26supci%3D294628470%26supsc%3Ds%26supai%3D8162193014%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-740123348%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Garden_Route.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>The V & A Waterfront</h2>
                    <p>The Victoria & Alfred Waterfront in Cape Town has sweeping views of the Atlantic Ocean, Table Bay Harbour, the City of Cape Town and Table Mountain.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CUPNouv_RVZybCpbubraZhIgHxKTFYN7cxuEe1MX14AIIABACKANgzQWgAaHPwv4DyAEBqgQiT9BoGO63-_qv5Jp72Y18UGSuj7Rcmj1JtJDDLhptvtEFRIgGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GgbRmo17DOgcspPG4rTYIiRU18cX9HeN8u3V59celXXhE4G&sig=AOD64_1IT1z9tc6aKqPoNhVzxDxMDJYAeA&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCLrR16K5sMcCFcRdGgodirgA6Q&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293740%26m%3D11607%26supci%3D294628470%26supsc%3Ds%26supai%3D8162193014%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-740123348%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/VA_Waterfront.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Cape of Good Hope</h2>
                    <p>The Cape of Good Hope is a rocky headland on the Atlantic coast of the Cape Peninsula, South Africa.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CUPNouv_RVZybCpbubraZhIgHxKTFYN7cxuEe1MX14AIIABACKANgzQWgAaHPwv4DyAEBqgQiT9BoGO63-_qv5Jp72Y18UGSuj7Rcmj1JtJDDLhptvtEFRIgGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GgbRmo17DOgcspPG4rTYIiRU18cX9HeN8u3V59celXXhE4G&sig=AOD64_1IT1z9tc6aKqPoNhVzxDxMDJYAeA&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCLrR16K5sMcCFcRdGgodirgA6Q&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293740%26m%3D11607%26supci%3D294628470%26supsc%3Ds%26supai%3D8162193014%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-740123348%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Cape-of-good-hope.jpg" alt="" /></div>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.cslider.js"></script>
        <script type="text/javascript">
            $(function() {
            
                var $slider = $('#da-slider');
                
                // initialize the slider
                $slider.cslider();
                
                // example how to go to page 3 when clicking on a link
                $('#testSlide3').on( 'click', function( event ) {
                
                    $('#da-slider').cslider( 'page', 2 );
                    return false;
                
                } );
            
            });
        </script>   

    {% endblock content %}
      
      

      
      
