    {% extends 'main.twig' %}
        
    {% block content %}

     <div class="container">
                        
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>Marojejy National Park</h2>
                    <p>Marojejy National Park is a national park in the Sava Region of northeastern Madagascar. It covers 55,500 ha and is centered on the Marojejy Massif, a mountain chain that rises to an elevation of 2,132 m.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CJmqRGrLRVeW5GMn1bt7Nh7gBkKPFYK6C-JpBke7kp2IIABABKAJgzQWgAaHPwv4DyAEBqgQoT9BIAbMz_Vv_xonzG49jK-fK-7hIgVUiMOO8S-5Dv6iNgjIMepB3EogGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GigViNa8T3rvaRUr40TbPgaqvYpsh-zSIglRCi6Y3JbLpTq&sig=AOD64_0-N65SCjSabNaX_R_y7qWNgS_XBA&clui=0&rct=j&q=&ved=0CBwQ0QxqFQoTCInXip_vr8cCFUu8Ggod8igKWg&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293808%26m%3D11607%26supci%3D277185091%26supsc%3Ds%26supai%3D17420471534%26supap%3D1t1%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-26390116113%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/TroisPics.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Ankarafantsika Park</h2>
                    <p>Ankarafantsika National Park is a national park in the Boeny Region of Madagascar. The closest city is Majunga 115 km north of the park. Ankarafantsika is mostly tropical in climate type.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CJmqRGrLRVeW5GMn1bt7Nh7gBkKPFYK6C-JpBke7kp2IIABABKAJgzQWgAaHPwv4DyAEBqgQoT9BIAbMz_Vv_xonzG49jK-fK-7hIgVUiMOO8S-5Dv6iNgjIMepB3EogGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GigViNa8T3rvaRUr40TbPgaqvYpsh-zSIglRCi6Y3JbLpTq&sig=AOD64_0-N65SCjSabNaX_R_y7qWNgS_XBA&clui=0&rct=j&q=&ved=0CBwQ0QxqFQoTCInXip_vr8cCFUu8Ggod8igKWg&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293808%26m%3D11607%26supci%3D277185091%26supsc%3Ds%26supai%3D17420471534%26supap%3D1t1%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-26390116113%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Lake_Ravelobe,_Ankarafantsika_National_Park,_Madagascar.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Cape Sainte Marie</h2>
                    <p>Cape Sainte Marie is a town and the southernmost point of Madagascar in the Androy region. It is also the location of the Cap Saint Marie Special Reserve, a nature reserve which occupies most of the cape and was created in 1962.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CJmqRGrLRVeW5GMn1bt7Nh7gBkKPFYK6C-JpBke7kp2IIABABKAJgzQWgAaHPwv4DyAEBqgQoT9BIAbMz_Vv_xonzG49jK-fK-7hIgVUiMOO8S-5Dv6iNgjIMepB3EogGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GigViNa8T3rvaRUr40TbPgaqvYpsh-zSIglRCi6Y3JbLpTq&sig=AOD64_0-N65SCjSabNaX_R_y7qWNgS_XBA&clui=0&rct=j&q=&ved=0CBwQ0QxqFQoTCInXip_vr8cCFUu8Ggod8igKWg&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293808%26m%3D11607%26supci%3D277185091%26supsc%3Ds%26supai%3D17420471534%26supap%3D1t1%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-26390116113%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/jorobada.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Saint Marie Island</h2>
                    <p>Cape Sainte Marie is a town and the southernmost point of Madagascar in the Androy region. It is also the location of the Cap Saint Marie Special Reserve, a nature reserve which occupies most of the cape and was created in 1962..</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CJmqRGrLRVeW5GMn1bt7Nh7gBkKPFYK6C-JpBke7kp2IIABABKAJgzQWgAaHPwv4DyAEBqgQoT9BIAbMz_Vv_xonzG49jK-fK-7hIgVUiMOO8S-5Dv6iNgjIMepB3EogGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GigViNa8T3rvaRUr40TbPgaqvYpsh-zSIglRCi6Y3JbLpTq&sig=AOD64_0-N65SCjSabNaX_R_y7qWNgS_XBA&clui=0&rct=j&q=&ved=0CBwQ0QxqFQoTCInXip_vr8cCFUu8Ggod8igKWg&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293808%26m%3D11607%26supci%3D277185091%26supsc%3Ds%26supai%3D17420471534%26supap%3D1t1%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-26390116113%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Saint Marie 2.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>The Alley of the Baobabs</h2>
                    <p>The Avenue or Alley of the Baobabs is a prominent group of baobab trees lining the dirt road between Morondava and Belon'i Tsiribihina in the Menabe region in western Madagascar. </p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CJmqRGrLRVeW5GMn1bt7Nh7gBkKPFYK6C-JpBke7kp2IIABABKAJgzQWgAaHPwv4DyAEBqgQoT9BIAbMz_Vv_xonzG49jK-fK-7hIgVUiMOO8S-5Dv6iNgjIMepB3EogGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GigViNa8T3rvaRUr40TbPgaqvYpsh-zSIglRCi6Y3JbLpTq&sig=AOD64_0-N65SCjSabNaX_R_y7qWNgS_XBA&clui=0&rct=j&q=&ved=0CBwQ0QxqFQoTCInXip_vr8cCFUu8Ggod8igKWg&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293808%26m%3D11607%26supci%3D277185091%26supsc%3Ds%26supai%3D17420471534%26supap%3D1t1%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-26390116113%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Avenue-Of-The-Baobabs-Madagascar.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Isalo National Park</h2>
                    <p>Isalo National Park is a National Park in the Ihorombe Region of Madagascar. The park is known for its wide variety of terrain, including sandstone formations, deep canyons, palm-lined oases, and grassland.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CJmqRGrLRVeW5GMn1bt7Nh7gBkKPFYK6C-JpBke7kp2IIABABKAJgzQWgAaHPwv4DyAEBqgQoT9BIAbMz_Vv_xonzG49jK-fK-7hIgVUiMOO8S-5Dv6iNgjIMepB3EogGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GigViNa8T3rvaRUr40TbPgaqvYpsh-zSIglRCi6Y3JbLpTq&sig=AOD64_0-N65SCjSabNaX_R_y7qWNgS_XBA&clui=0&rct=j&q=&ved=0CBwQ0QxqFQoTCInXip_vr8cCFUu8Ggod8igKWg&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293808%26m%3D11607%26supci%3D277185091%26supsc%3Ds%26supai%3D17420471534%26supap%3D1t1%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-26390116113%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Isalo_National_Park_06.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Zahamena National Park</h2>
                    <p>Zahamena National Park is a national park of Madagascar. Established in 1997, it covers an area of 423 square kilometres out of a total protected area of 643 square kilometres.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CJmqRGrLRVeW5GMn1bt7Nh7gBkKPFYK6C-JpBke7kp2IIABABKAJgzQWgAaHPwv4DyAEBqgQoT9BIAbMz_Vv_xonzG49jK-fK-7hIgVUiMOO8S-5Dv6iNgjIMepB3EogGAYAHivDND5AHA6gHpr4b2AcB&ohost=www.google.co.zw&cid=5GigViNa8T3rvaRUr40TbPgaqvYpsh-zSIglRCi6Y3JbLpTq&sig=AOD64_0-N65SCjSabNaX_R_y7qWNgS_XBA&clui=0&rct=j&q=&ved=0CBwQ0QxqFQoTCInXip_vr8cCFUu8Ggod8igKWg&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293808%26m%3D11607%26supci%3D277185091%26supsc%3Ds%26supai%3D17420471534%26supap%3D1t1%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-26390116113%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/7878249_orig.jpg" alt="" /></div>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.cslider.js"></script>
        <script type="text/javascript">
            $(function() {
            
                var $slider = $('#da-slider');
                
                // initialize the slider
                $slider.cslider();
                
                // example how to go to page 3 when clicking on a link
                $('#testSlide3').on( 'click', function( event ) {
                
                    $('#da-slider').cslider( 'page', 2 );
                    return false;
                
                } );
            
            });
        </script>   

    {% endblock content %}
      
      

      
      
