    {% extends 'main.twig' %}
        
    {% block content %}

     <div class="container">
                        
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>The Egyption Pyramids</h2>
                    <p>The Egyptian pyramids are ancient pyramid-shaped masonry structures located in Egypt. As of November 2008, there are sources citing both 118 and 138 as the number of identified Egyptian pyramids.</p>
                    <a href="http://www.google.co.zw/aclk?sa=l&ai=CBZ5pE4XRVfrCFYG_7Qa-u7CYDJCjxWCm0ruYVvPN6OFsCAAQAygDYM0FoAGhz8L-A8gBAaoEJ0_Q4hfGDtroTHC_G0N2rKFPpsXgjwPbzy5N1q5itSNMh2h5Kxgp5oAHivDND4gHAZAHAqgHpr4b2AcB&sig=AOD64_3n2PcLAG9wQ_KkSry-C-AMA9tt7w&clui=2&rct=j&q=&ved=0CCgQ0QxqFQoTCNvJxqbEr8cCFYuh2woddmsOJQ&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D294200%26m%3D11607%26supci%3D277187983%26supsc%3Ds%26supai%3D23082304334%26supap%3D1t3%26supdv%3Dc%26supnt%3Dg%26supti%3Dkwd-29196166899%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/pyramids.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>The Great Pyramid of Giza</h2>
                    <p>The Great Pyramid of Giza is the oldest and largest of the three pyramids in the Giza Necropolis bordering what is now El Giza, Egypt. It is the oldest of the Seven Wonders of the Ancient World, and the only one to remain largely intact.</p>
                    <a href="http://www.google.co.zw/aclk?sa=l&ai=CBZ5pE4XRVfrCFYG_7Qa-u7CYDJCjxWCm0ruYVvPN6OFsCAAQAygDYM0FoAGhz8L-A8gBAaoEJ0_Q4hfGDtroTHC_G0N2rKFPpsXgjwPbzy5N1q5itSNMh2h5Kxgp5oAHivDND4gHAZAHAqgHpr4b2AcB&sig=AOD64_3n2PcLAG9wQ_KkSry-C-AMA9tt7w&clui=2&rct=j&q=&ved=0CCgQ0QxqFQoTCNvJxqbEr8cCFYuh2woddmsOJQ&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D294200%26m%3D11607%26supci%3D277187983%26supsc%3Ds%26supai%3D23082304334%26supap%3D1t3%26supdv%3Dc%26supnt%3Dg%26supti%3Dkwd-29196166899%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Kheops-Pyramid.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>The Museum of Egyptian</h2>
                    <p>The Museum of Egyptian Antiquities, known commonly as the Egyptian Museum or Museum of Cairo, in Cairo, Egypt, is home to an extensive collection of ancient Egyptian antiquities.</p>
                    <a href="http://www.google.co.zw/aclk?sa=l&ai=CBZ5pE4XRVfrCFYG_7Qa-u7CYDJCjxWCm0ruYVvPN6OFsCAAQAygDYM0FoAGhz8L-A8gBAaoEJ0_Q4hfGDtroTHC_G0N2rKFPpsXgjwPbzy5N1q5itSNMh2h5Kxgp5oAHivDND4gHAZAHAqgHpr4b2AcB&sig=AOD64_3n2PcLAG9wQ_KkSry-C-AMA9tt7w&clui=2&rct=j&q=&ved=0CCgQ0QxqFQoTCNvJxqbEr8cCFYuh2woddmsOJQ&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D294200%26m%3D11607%26supci%3D277187983%26supsc%3Ds%26supai%3D23082304334%26supap%3D1t3%26supdv%3Dc%26supnt%3Dg%26supti%3Dkwd-29196166899%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/The_Egyptian_Museum.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Valley of Kings</h2>
                    <p>The Valley of the Kings, the Valley of the gates of the Kings, is a valley in Egypt where, for a period of nearly 500 years from the 16th to 11th century BC, tombs were constructed for the Pharaohs and powerful nobles of the New Kingdom.</p>
                    <a href="http://www.google.co.zw/aclk?sa=l&ai=CBZ5pE4XRVfrCFYG_7Qa-u7CYDJCjxWCm0ruYVvPN6OFsCAAQAygDYM0FoAGhz8L-A8gBAaoEJ0_Q4hfGDtroTHC_G0N2rKFPpsXgjwPbzy5N1q5itSNMh2h5Kxgp5oAHivDND4gHAZAHAqgHpr4b2AcB&sig=AOD64_3n2PcLAG9wQ_KkSry-C-AMA9tt7w&clui=2&rct=j&q=&ved=0CCgQ0QxqFQoTCNvJxqbEr8cCFYuh2woddmsOJQ&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D294200%26m%3D11607%26supci%3D277187983%26supsc%3Ds%26supai%3D23082304334%26supap%3D1t3%26supdv%3Dc%26supnt%3Dg%26supti%3Dkwd-29196166899%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Ägypten_Tal_der_Könige.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>The Great Sphinx of Giza</h2>
                    <p>The Great Sphinx of Giza, commonly referred to as the Sphinx, is a limestone statue of a reclining or couchant sphinx that stands on the Giza Plateau on the west bank of the Nile in Giza, Egypt.</p>
                    <a href="http://www.google.co.zw/aclk?sa=l&ai=CBZ5pE4XRVfrCFYG_7Qa-u7CYDJCjxWCm0ruYVvPN6OFsCAAQAygDYM0FoAGhz8L-A8gBAaoEJ0_Q4hfGDtroTHC_G0N2rKFPpsXgjwPbzy5N1q5itSNMh2h5Kxgp5oAHivDND4gHAZAHAqgHpr4b2AcB&sig=AOD64_3n2PcLAG9wQ_KkSry-C-AMA9tt7w&clui=2&rct=j&q=&ved=0CCgQ0QxqFQoTCNvJxqbEr8cCFYuh2woddmsOJQ&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D294200%26m%3D11607%26supci%3D277187983%26supsc%3Ds%26supai%3D23082304334%26supap%3D1t3%26supdv%3Dc%26supnt%3Dg%26supti%3Dkwd-29196166899%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/s_sphnxd-2001.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>The Karnak Temple</h2>
                    <p>The Karnak Temple Complex, commonly known as Karnak, comprises a vast mix of decayed temples, chapels, pylons, and other buildings.</p>
                    <a href="http://www.google.co.zw/aclk?sa=l&ai=CBZ5pE4XRVfrCFYG_7Qa-u7CYDJCjxWCm0ruYVvPN6OFsCAAQAygDYM0FoAGhz8L-A8gBAaoEJ0_Q4hfGDtroTHC_G0N2rKFPpsXgjwPbzy5N1q5itSNMh2h5Kxgp5oAHivDND4gHAZAHAqgHpr4b2AcB&sig=AOD64_3n2PcLAG9wQ_KkSry-C-AMA9tt7w&clui=2&rct=j&q=&ved=0CCgQ0QxqFQoTCNvJxqbEr8cCFYuh2woddmsOJQ&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D294200%26m%3D11607%26supci%3D277187983%26supsc%3Ds%26supai%3D23082304334%26supap%3D1t3%26supdv%3Dc%26supnt%3Dg%26supti%3Dkwd-29196166899%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/shutterstock_580417.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Mosque of Muhammad Ali</h2>
                    <p>The great Mosque of Muhammad Ali Pasha or Alabaster Mosque is a mosque situated in the Citadel of Cairo in Egypt and commissioned by Muhammad Ali Pasha between 1830 and 1848.</p>
                    <a href="http://www.google.co.zw/aclk?sa=l&ai=CBZ5pE4XRVfrCFYG_7Qa-u7CYDJCjxWCm0ruYVvPN6OFsCAAQAygDYM0FoAGhz8L-A8gBAaoEJ0_Q4hfGDtroTHC_G0N2rKFPpsXgjwPbzy5N1q5itSNMh2h5Kxgp5oAHivDND4gHAZAHAqgHpr4b2AcB&sig=AOD64_3n2PcLAG9wQ_KkSry-C-AMA9tt7w&clui=2&rct=j&q=&ved=0CCgQ0QxqFQoTCNvJxqbEr8cCFYuh2woddmsOJQ&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D294200%26m%3D11607%26supci%3D277187983%26supsc%3Ds%26supai%3D23082304334%26supap%3D1t3%26supdv%3Dc%26supnt%3Dg%26supti%3Dkwd-29196166899%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Mohammad Ali Mosque.jpg" alt="" /></div>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.cslider.js"></script>
        <script type="text/javascript">
            $(function() {
            
                var $slider = $('#da-slider');
                
                // initialize the slider
                $slider.cslider();
                
                // example how to go to page 3 when clicking on a link
                $('#testSlide3').on( 'click', function( event ) {
                
                    $('#da-slider').cslider( 'page', 2 );
                    return false;
                
                } );
            
            });
        </script>   

    {% endblock content %}
      
      

      
      
