    {% extends 'main.twig' %}
        
    {% block content %}

     <div class="container">
                        
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>The Atlas Mountains</h2>
                    <p>The Atlas Mountains extend some 2,500km across northwestern Africa, spanning Morocco, Algeria and Tunisia, separating the Atlantic and Mediterranean coastline from the Sahara Desert. Actually a series of mountain ranges with diverse terrain, climates and wildlife, the Atlas are dotted with Berber villages and riven with canyons and ravines. The highest peak is 4,167m-tall Toubkal, a trekking destination within Morocco's Toubkal National Park.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CSflFgQzSVZyEMZL4bM6vqsAEvv3Z9AK276bX6gHKsazecggAEAIoAmDNBaABoc_C_gPIAQGqBChP0BHg6Irxlk1l2lq2vIzV55aznVo1oHdv91kKyWxbOC7m311S1IJYiAYBgAeusLoPkAcDqAemvhvYBwE&ohost=www.google.co.zw&cid=5GgxMYaGyt3Y1kR16O8tY94j0ZafgbBDeta_-ETJ0_jHXFlG&sig=AOD64_3YBAktiAROliXvVDuo_Uj91fr96Q&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCIfy3LrFsMcCFchtFAod02kHXw&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293758%26m%3D11607%26supci%3D1097789160%26supsc%3Ds%26supai%3D62681715062%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-30799501514%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/toubkal-atlas-mountains.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>The Pupput</h2>
                    <p>Pupput is an archaeological site near Hammamet, in northern Tunisia. A settlement existed here since as early as the 1st century BC, and was a simple village at the time of the rule of Roman emperor Antoninus Pius, it became a colony under Commodus.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CSflFgQzSVZyEMZL4bM6vqsAEvv3Z9AK276bX6gHKsazecggAEAIoAmDNBaABoc_C_gPIAQGqBChP0BHg6Irxlk1l2lq2vIzV55aznVo1oHdv91kKyWxbOC7m311S1IJYiAYBgAeusLoPkAcDqAemvhvYBwE&ohost=www.google.co.zw&cid=5GgxMYaGyt3Y1kR16O8tY94j0ZafgbBDeta_-ETJ0_jHXFlG&sig=AOD64_3YBAktiAROliXvVDuo_Uj91fr96Q&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCIfy3LrFsMcCFchtFAod02kHXw&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293758%26m%3D11607%26supci%3D1097789160%26supsc%3Ds%26supai%3D62681715062%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-30799501514%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Tunisie_Pupput_Catacombe_2.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Ichkeul Lake</h2>
                    <p>Ichkeul Lake is a lake in northern Tunisia, located 20 kilometres to Bizerte, the northernmost city in Africa on the Mediterranean Sea.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CSflFgQzSVZyEMZL4bM6vqsAEvv3Z9AK276bX6gHKsazecggAEAIoAmDNBaABoc_C_gPIAQGqBChP0BHg6Irxlk1l2lq2vIzV55aznVo1oHdv91kKyWxbOC7m311S1IJYiAYBgAeusLoPkAcDqAemvhvYBwE&ohost=www.google.co.zw&cid=5GgxMYaGyt3Y1kR16O8tY94j0ZafgbBDeta_-ETJ0_jHXFlG&sig=AOD64_3YBAktiAROliXvVDuo_Uj91fr96Q&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCIfy3LrFsMcCFchtFAod02kHXw&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293758%26m%3D11607%26supci%3D1097789160%26supsc%3Ds%26supai%3D62681715062%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-30799501514%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Ichkeul Lake.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Port El Kantaoui</h2>
                    <p>Port El Kantaoui is a tourist complex 10 kilometres north of Sousse city in central Tunisia. It was built in 1979 specifically as a tourist centre, around a large artificial harbour that provides mooring.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CSflFgQzSVZyEMZL4bM6vqsAEvv3Z9AK276bX6gHKsazecggAEAIoAmDNBaABoc_C_gPIAQGqBChP0BHg6Irxlk1l2lq2vIzV55aznVo1oHdv91kKyWxbOC7m311S1IJYiAYBgAeusLoPkAcDqAemvhvYBwE&ohost=www.google.co.zw&cid=5GgxMYaGyt3Y1kR16O8tY94j0ZafgbBDeta_-ETJ0_jHXFlG&sig=AOD64_3YBAktiAROliXvVDuo_Uj91fr96Q&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCIfy3LrFsMcCFchtFAod02kHXw&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293758%26m%3D11607%26supci%3D1097789160%26supsc%3Ds%26supai%3D62681715062%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-30799501514%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/TUNEZ35T0_tcm55-28277.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Byrsa</h2>
                    <p>Byrsa was the walled citadel above the harbour in ancient Carthage. It was also the name of the hill it rested on. The name is derived from the Phoenician word for citadel.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CSflFgQzSVZyEMZL4bM6vqsAEvv3Z9AK276bX6gHKsazecggAEAIoAmDNBaABoc_C_gPIAQGqBChP0BHg6Irxlk1l2lq2vIzV55aznVo1oHdv91kKyWxbOC7m311S1IJYiAYBgAeusLoPkAcDqAemvhvYBwE&ohost=www.google.co.zw&cid=5GgxMYaGyt3Y1kR16O8tY94j0ZafgbBDeta_-ETJ0_jHXFlG&sig=AOD64_3YBAktiAROliXvVDuo_Uj91fr96Q&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCIfy3LrFsMcCFchtFAod02kHXw&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293758%26m%3D11607%26supci%3D1097789160%26supsc%3Ds%26supai%3D62681715062%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-30799501514%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Byrsa.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>The Altar of the Gens</h2>
                    <p>The Altar of the Gens Augusta is a Roman altar associated with the Imperial cult of ancient Rome, which was discovered on the slopes of Byrsa hill above the port of the ancient city of Carthage. It is now kept in the Bardo National Museum in Tunis.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CSflFgQzSVZyEMZL4bM6vqsAEvv3Z9AK276bX6gHKsazecggAEAIoAmDNBaABoc_C_gPIAQGqBChP0BHg6Irxlk1l2lq2vIzV55aznVo1oHdv91kKyWxbOC7m311S1IJYiAYBgAeusLoPkAcDqAemvhvYBwE&ohost=www.google.co.zw&cid=5GgxMYaGyt3Y1kR16O8tY94j0ZafgbBDeta_-ETJ0_jHXFlG&sig=AOD64_3YBAktiAROliXvVDuo_Uj91fr96Q&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCIfy3LrFsMcCFchtFAod02kHXw&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293758%26m%3D11607%26supci%3D1097789160%26supsc%3Ds%26supai%3D62681715062%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-30799501514%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/The Altar of the Gens.JPG" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Mosque of Kairouan</h2>
                    <p>The Great Mosque of Kairouan, also known as the Mosque of Uqba, is one of the most important mosques in Tunisia, situated in the UNESCO World Heritage town of Kairouan.</p>
                    <a href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CSflFgQzSVZyEMZL4bM6vqsAEvv3Z9AK276bX6gHKsazecggAEAIoAmDNBaABoc_C_gPIAQGqBChP0BHg6Irxlk1l2lq2vIzV55aznVo1oHdv91kKyWxbOC7m311S1IJYiAYBgAeusLoPkAcDqAemvhvYBwE&ohost=www.google.co.zw&cid=5GgxMYaGyt3Y1kR16O8tY94j0ZafgbBDeta_-ETJ0_jHXFlG&sig=AOD64_3YBAktiAROliXvVDuo_Uj91fr96Q&clui=1&rct=j&q=&ved=0CCAQ0QxqFQoTCIfy3LrFsMcCFchtFAod02kHXw&adurl=http://www.tripadvisor.com/SmartDeals%3Fgeo%3D293758%26m%3D11607%26supci%3D1097789160%26supsc%3Ds%26supai%3D62681715062%26supap%3D1t2%26supdv%3Dc%26supnt%3Dg%26supti%3Daud-90391767427:kwd-30799501514%26suplp%3D2716%26supli%3D" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/The Great Mosque of Kairouan.jpg" alt="" /></div>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.cslider.js"></script>
        <script type="text/javascript">
            $(function() {
            
                var $slider = $('#da-slider');
                
                // initialize the slider
                $slider.cslider();
                
                // example how to go to page 3 when clicking on a link
                $('#testSlide3').on( 'click', function( event ) {
                
                    $('#da-slider').cslider( 'page', 2 );
                    return false;
                
                } );
            
            });
        </script>   

    {% endblock content %}
      
      

      
      
