    {% extends 'main.twig' %}
        
    {% block content %}

     <div class="container">
                        
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>Mount Kilimanjaro</h2>
                    <p>Mount Kilimanjaro /ˌkɪlɪmənˈdʒɑːroʊ/, with its three volcanic cones, Kibo, Mawenzi, and Shira, is a dormant volcanic mountain in Tanzania.</p>
                    <a href="https://www.google.co.zw/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CEgQFjADahUKEwiH37nftrDHAhVIfhoKHarwCFQ&url=http%3A%2F%2Fwww.tripadvisor.com%2FHotelsList-Tanzania-Beach-Resorts-zfp7706740.html&ei=FP3RVYeFEMj8aarho6AF&usg=AFQjCNFaRiLOhBm1HyxlWHEk4pdP7la8ZQ&bvm=bv.99804247,d.d2s" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Mt_-Kilimanjaro.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Serengeti National Park</h2>
                    <p>The Serengeti National Park is a Tanzanian national park in the Serengeti ecosystem in the Mara and Simiyu regions.</p>
                    <a href="https://www.google.co.zw/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CEgQFjADahUKEwiH37nftrDHAhVIfhoKHarwCFQ&url=http%3A%2F%2Fwww.tripadvisor.com%2FHotelsList-Tanzania-Beach-Resorts-zfp7706740.html&ei=FP3RVYeFEMj8aarho6AF&usg=AFQjCNFaRiLOhBm1HyxlWHEk4pdP7la8ZQ&bvm=bv.99804247,d.d2s" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/100583-050-9BD2D1AC.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Ruaha National Park</h2>
                    <p>Ruaha National Park is the largest national park in Tanzania. The addition of the Usangu Game Reserve and other important wetlands to the park in 2008 increased its size to about 20,226 square kilometres.</p>
                    <a href="https://www.google.co.zw/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CEgQFjADahUKEwiH37nftrDHAhVIfhoKHarwCFQ&url=http%3A%2F%2Fwww.tripadvisor.com%2FHotelsList-Tanzania-Beach-Resorts-zfp7706740.html&ei=FP3RVYeFEMj8aarho6AF&usg=AFQjCNFaRiLOhBm1HyxlWHEk4pdP7la8ZQ&bvm=bv.99804247,d.d2s" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Ruaha_National_Park_005.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Manyara National Park</h2>
                    <p>Lake Manyara National Park is a Tanzanian national park located both in Arusha Region and Manyara Region, Tanzania. The two administrative regions have no jurisdiction over the parks. The park is governed by the Tanzania National Parks Authority.</p>
                    <a href="https://www.google.co.zw/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CEgQFjADahUKEwiH37nftrDHAhVIfhoKHarwCFQ&url=http%3A%2F%2Fwww.tripadvisor.com%2FHotelsList-Tanzania-Beach-Resorts-zfp7706740.html&ei=FP3RVYeFEMj8aarho6AF&usg=AFQjCNFaRiLOhBm1HyxlWHEk4pdP7la8ZQ&bvm=bv.99804247,d.d2s" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Travel_guide_top_strap.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Mount Meru</h2>
                    <p>Mount Meru is an active stratovolcano located 70 kilometres west of Mount Kilimanjaro in the nation of Tanzania.</p>
                    <a href="https://www.google.co.zw/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CEgQFjADahUKEwiH37nftrDHAhVIfhoKHarwCFQ&url=http%3A%2F%2Fwww.tripadvisor.com%2FHotelsList-Tanzania-Beach-Resorts-zfp7706740.html&ei=FP3RVYeFEMj8aarho6AF&usg=AFQjCNFaRiLOhBm1HyxlWHEk4pdP7la8ZQ&bvm=bv.99804247,d.d2s" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/mount_meru.jpg" alt="" /></div>
                </div>
                <div class="da-slide">
                    <h2>Tarangire National Park</h2>
                    <p>Tarangire National Park is the sixth largest national park in Tanzania after Ruaha, Serengeti, Mikumi, Katavi and Mkomazi. The national park is located in Manyara Region.</p>
                    <a href="https://www.google.co.zw/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CEgQFjADahUKEwiH37nftrDHAhVIfhoKHarwCFQ&url=http%3A%2F%2Fwww.tripadvisor.com%2FHotelsList-Tanzania-Beach-Resorts-zfp7706740.html&ei=FP3RVYeFEMj8aarho6AF&usg=AFQjCNFaRiLOhBm1HyxlWHEk4pdP7la8ZQ&bvm=bv.99804247,d.d2s" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Tarangire_National_Park_016.jpg" alt="" /></div>
                </div>

                <div class="da-slide">
                    <h2>House of Wonders</h2>
                    <p>The House of Wonders or Palace of Wonders is a landmark building in Stone Town, Zanzibar. It is the largest and tallest building of Stone Town and occupies a prominent place facing the Forodhani Gardens on the old town's seafront, in Mizingani Road.</p>
                    <a href="https://www.google.co.zw/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0CEgQFjADahUKEwiH37nftrDHAhVIfhoKHarwCFQ&url=http%3A%2F%2Fwww.tripadvisor.com%2FHotelsList-Tanzania-Beach-Resorts-zfp7706740.html&ei=FP3RVYeFEMj8aarho6AF&usg=AFQjCNFaRiLOhBm1HyxlWHEk4pdP7la8ZQ&bvm=bv.99804247,d.d2s" class="da-link">Click here to Choose a Hotel</a>
                    <div class="da-img"><img src="img/Sansibar_House_of_Wonders.jpg" alt="" /></div>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.cslider.js"></script>
        <script type="text/javascript">
            $(function() {
            
                var $slider = $('#da-slider');
                
                // initialize the slider
                $slider.cslider();
                
                // example how to go to page 3 when clicking on a link
                $('#testSlide3').on( 'click', function( event ) {
                
                    $('#da-slider').cslider( 'page', 2 );
                    return false;
                
                } );
            
            });
        </script>   

    {% endblock content %}
      
      

      
      
